<div class="col-md-10 content">
   <table class="table table-striped table-hover js-table vmtable">
      <thead>
         <tr>
            <th (click)="sortValueMeasures('deliveryRatio')" >DeliveryRatio</th>
            <th (click)="sortValueMeasures('velocity')">Velocity</th>
            <th (click)="sortValueMeasures('firstTimeRight')">FirstTimeRight</th>
            <th (click)="sortValueMeasures('scopeCreep')">ScopeCreep</th>
            <th (click)="sortValueMeasures('unplannedAgility')">UnplannedAgility</th>
            <th (click)="sortValueMeasures('techDebt')">TechDebt</th>
            <th (click)="sortValueMeasures('sprint')">Sprint</th>
            <th (click)="sortValueMeasures('project')">Project</th>
            <th >Action</th>

         </tr>
      </thead>
      <tbody>
         <tr
         *ngFor="let vm of valueMeasures"
         data-toggle="collapse" data-target="#collapse4039" class="clickable">
            <td>{{ vm.deliveryRatio }}</td>
            <td>{{ vm.velocity }}</td>
            <td>{{ vm.firstTimeRight }}</td>
            <td>{{ vm.scopeCreep }}</td>
            <td>{{ vm.unplannedAgility }}</td>
            <td>{{ vm.techDebt }}</td>
            <td>{{ vm.sprint }}</td>
            <td>{{ vm.project }}</td>
            <td>
               <div class="btn-group btn-group-sm" role="group" aria-label="...">
                  <div class="btn-group " role="group" aria-label="Valider les candidats">
                     <a href="valider" data-href='' alt="Valider les candidats" data-toggle="tooltip" data-placement="right" title="Valider les candidats">
                     <span class="glyphicon glyphicon-check" aria-hidden="true" style="color:black; margin: 5px;"></span>
                     </a>
                  </div>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
