<div class="col-md-2 sidebar">
  <div class="row">
     <!-- uncomment code for absolute positioning tweek see top comment in css -->
     <div class="absolute-wrapper"> </div>
     <!-- Menu -->
     <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
           <!-- Main Menu -->
           <div class="side-menu-container">
              <ul class="nav navbar-nav">
                 <li routerLinkActive="active"><a><span class="glyphicon"></span></a></li>
                 <li routerLinkActive="active"><a routerLink="/dashboard" ><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                 <li routerLinkActive="active"><a routerLink="/analytics"><span class="glyphicon glyphicon-signal"></span> Analytics</a></li>
                 <li routerLinkActive="active"><a routerLink="/measures"><span class="glyphicon glyphicon-plane"></span> Measures</a></li>
                 <li routerLinkActive="active"><a routerLink="/projects"><span class="glyphicon glyphicon-cloud"></span> Projects</a></li>
                 <li routerLinkActive="active"><a routerLink="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
              </ul>
           </div>
           <!-- /.navbar-collapse -->
        </nav>
     </div>
  </div>
</div>
